---
// src/pages/index.astro

// 1. Importamos nuestros componentes del esqueleto
import Navbar from '../components/Navbar.astro';
import Hero from '../components/index/Hero.astro';
import Features from '../components/index/Features.astro';
import Footer from '../components/Footer.astro';
import AboutUs from '../components/index/AboutUs.astro';
import Contact from '../components/index/Contact.astro';
import InstagramCarrousel from '../components/index/InstagramCarrousel.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';

// 2. Importamos los estilos globales
import '../styles/global.css';

// 3. Importamos las fuentes necesarias
import '@fontsource/lato/300.css';
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/montserrat/700.css';
import '@fontsource/montserrat/800.css';
---

<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="T3 Textiles: Más de 50 años liderando la innovación textil en Colombia. Descubre telas de alta calidad, colores de vanguardia y diseños exclusivos para tu marca. Calidad superior, asesoría experta y logística ágil." />
    <link rel="icon" type="image/svg+xml" href="images/LOGOT3.svg" />
    <link rel="image" href="images/TelaNosotros.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <title>T3 Textiles</title>
</head>
<body>
    <Navbar />
    <main>
        <Hero />
        <AboutUs />
        <Features />
        <InstagramCarrousel />
        <Contact />
    </main>
    <WhatsAppFloat />
    <Footer />
</body>
</html>