<footer class="bg-[#183153] text-gray-300 pt-16 font-body">
  <div class="container mx-auto px-6 max-w-7xl">
    
    <div class="grid grid-cols-1 md:grid-cols-12 gap-10 md:gap-y-10 md:gap-x-4 lg:gap-8 mb-12 items-start">

      <!-- 1. LOGO Y REDES -->
      <div class="order-1 md:order-1 md:col-span-3 lg:col-span-3 flex flex-col items-start">
        <div class="w-32 mb-6">
           <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 585.32 594.95" class="w-full h-auto">
            <defs>
              <style>
                .cls-1 { fill: none; stroke: #8b9e8d; stroke-miterlimit: 10; stroke-width: 4px; }
                g { fill: #ffffff; }
                .texto-textiles { transform-box: fill-box; transform-origin: center; transform: scale(1.4); }
              </style>
            </defs>
            <g>
              <polygon points="150.39 210.2 85.41 210.2 85.41 163.49 271.36 163.49 271.36 210.2 205.31 210.2 205.31 409.44 150.39 409.44 150.39 210.2"/>
              <path d="M331.22,350.06c9.69,5.11,31.95,14.6,54.2,14.6,28.36,0,42.72-13.86,42.72-31.75,0-23.36-22.97-33.94-47.02-33.94h-22.25v-39.78h21.17c18.31-.35,41.64-7.29,41.64-27.37,0-14.24-11.48-24.81-34.46-24.81-19.02,0-39.13,8.39-48.82,14.23l-11.14-40.14c14.01-9.13,42.01-17.88,72.16-17.88,49.9,0,77.53,26.64,77.53,59.11,0,25.19-14,44.89-42.72,55.11v.72c28,5.11,50.62,26.64,50.62,57.66,0,41.96-36.26,72.61-95.49,72.61-30.15,0-55.63-8.04-69.27-16.79l11.12-41.6Z"/>
            </g>
            <g class="texto-textiles">
              <polygon points="123.89 445.19 115.55 445.19 115.55 442.12 135.86 442.12 135.86 445.19 127.47 445.19 127.47 470.01 123.89 470.01 123.89 445.19"/>
              <polygon points="180.22 456.94 169.59 456.94 169.59 466.99 181.48 466.99 181.48 470.01 166.01 470.01 166.01 442.12 180.86 442.12 180.86 445.15 169.59 445.15 169.59 453.96 180.22 453.96 180.22 456.94"/>
              <path d="M228.24,470.01l-3.54-6.16c-1.43-2.36-2.28-3.89-3.13-5.5h-.08c-.78,1.61-1.59,3.1-2.97,5.54l-3.3,6.12h-4.07l8.38-14.11-8.06-13.78h4.11l3.62,6.54c1.01,1.82,1.79,3.23,2.52,4.72h.12c.77-1.66,1.46-2.94,2.48-4.72l3.71-6.54h4.11l-8.34,13.57,8.55,14.32h-4.11Z"/>
              <polygon points="269.14 445.19 260.79 445.19 260.79 442.12 281.1 442.12 281.1 445.19 272.72 445.19 272.72 470.01 269.14 470.01 269.14 445.19"/>
              <rect x="311.26" y="442.12" width="3.58" height="27.89"/>
              <polygon points="348.13 442.12 351.71 442.12 351.71 466.99 363.43 466.99 363.43 470.01 348.13 470.01 348.13 442.12"/>
              <polygon points="408.68 456.94 398.06 456.94 398.06 466.99 409.94 466.99 409.94 470.01 394.48 470.01 394.48 442.12 409.33 442.12 409.33 445.15 398.06 445.15 398.06 453.96 408.68 453.96 408.68 456.94"/>
              <path d="M441.24,465.63c1.58.99,3.86,1.78,6.3,1.78,3.62,0,5.74-1.9,5.74-4.72,0-2.61-1.46-4.14-5.17-5.54-4.48-1.58-7.24-3.97-7.24-7.86,0-4.35,3.54-7.57,8.87-7.57,2.77,0,4.84.66,6.02,1.33l-.97,2.98c-.86-.54-2.69-1.33-5.17-1.33-3.74,0-5.17,2.28-5.17,4.18,0,2.57,1.67,3.85,5.45,5.34,4.64,1.86,6.96,4.09,6.96,8.19s-3.1,8.03-9.56,8.03c-2.65,0-5.54-.83-7.01-1.82l.94-2.98Z"/>
            </g>
          </svg>
        </div>
        <div class="flex space-x-4">
          <a target="_blank" href="https://www.instagram.com/t3textiles/?hl=es" class="w-10 h-10 rounded-full bg-[#10223b] border border-white/10 flex items-center justify-center text-white hover:bg-[#8b9e8d] hover:border-[#8b9e8d] transition-all duration-300">
            <i class="fab fa-instagram text-xl"></i>
          </a>
          <a target="_blank" href="https://co.linkedin.com/company/t3-textiles" class="w-10 h-10 rounded-full bg-[#10223b] border border-white/10 flex items-center justify-center text-white hover:bg-[#8b9e8d] hover:border-[#8b9e8d] transition-all duration-300">
            <i class="fab fa-linkedin-in text-xl"></i>
          </a>
        </div>
      </div>

      <!-- 2. NOSOTROS -->
      <div class="order-2 md:order-3 lg:order-2 md:col-span-6 lg:col-span-2 lg:col-start-4 md:flex md:items-center md:gap-4 lg:block lg:pt-5"> <h3 class="text-white font-titulo font-bold text-lg mb-4 md:mb-0 lg:mb-6 whitespace-nowrap">Nosotros</h3>
        <ul class="space-y-4 md:space-y-0 md:flex md:gap-6 lg:block lg:space-y-4">
          <li>
            <a href="#historia" class="hover:text-gray-400 font-light transition-colors duration-200">Historia</a>
          </li>
          <li>
            <a href="t3-fashion-news" class="hover:text-gray-400 font-light transition-colors duration-200">Fashion News</a>
          </li>
        </ul>

      </div>

      <!-- 3. LEGAL -->
      <div class="order-3 md:order-4 lg:order-3 md:col-span-6 lg:col-span-2 lg:col-start-6 md:flex md:items-center md:gap-4 lg:block lg:pt-5">
        <h3 class="text-white font-titulo font-bold text-lg mb-4 md:mb-0 lg:mb-6 whitespace-nowrap">Legal</h3>
        <ul class="space-y-4 md:space-y-0">
          <li>
            <a href="#" class="text-slate-300 hover:text-gray-400 font-light transition-colors duration-200 md:whitespace-nowrap lg:whitespace-normal">Política de tratamiento de datos</a>
          </li>
        </ul>
      </div>

      <!-- 4. CONTACTO -->
      <div class="order-4 md:order-2 md:pt-5  md:col-span-8 lg:order-4 lg:col-span-5 lg:col-start-8 ">
        <h3 class="text-white font-titulo font-bold text-lg mb-6">Contacto</h3>
        
        <ul class="space-y-4 font-light text-gray-400 w-full md:grid md:grid-cols-9 md:gap-x-4 md:space-y-0 lg:block lg:space-y-4">
          
          <li class="md:mb-2 flex items-center md:col-span-4">
            <i class="fas fa-phone-alt mr-3 text-[#8b9e8d] text-xs"></i>
            <a href="https://wa.me/message/MYPAUYWKS4SDJ1" class="text-slate-300 hover:text-gray-400 leading-snug"> 
              +57 300 123 4567
            </a>
          </li>
          
          <li class="flex items-center md:col-span-4">
            <i class="fas fa-envelope mr-3 text-[#8b9e8d] text-xs"></i>
            <span class="text-slate-300 hover:text-gray-400 break-all whitespace-nowrap">contacto@t3textiles.com</span>
          </li>
          
          <li class="flex items-start md:col-start-5 md:col-span-5 md:pl-6 md:row-start-1 md:row-span-2 lg:col-auto lg:row-auto lg:pl-0">
            <i class="fas fa-map-marker-alt mt-1.5 mr-3 text-[#8b9e8d] text-xs flex-shrink-0"></i>
            <a target="_blank" href="https://www.google.com/maps/place/Parque+Industrial+Terrapuerto/@4.7369609,-74.1464883,17z/data=!4m6!3m5!1s0x8e3f836cc7cb4ca7:0x6311da93e8df5cda!8m2!3d4.7348403!4d-74.1469011!16s%2Fg%2F11c49_f_d2?authuser=0&entry=ttu&g_ep=EgoyMDI1MTExMi4wIKXMDSoASAFQAw%3D%3D" class="text-slate-300 hover:text-gray-400 leading-snug">
              Entrada Vía Parque La Florida Km 1.1 Vía Siberia-Bogotá<br class="md:hidden lg:inline" /> Terrapuerto Bodega 30, Cota - Cundinamarca, Colombia
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="border-t border-white/10 bg-[#10223b] py-4">
    <div class="container mx-auto px-6 flex justify-center items-center">
      <p class="text-sm text-gray-500 text-center w-full font-body">
        © 2025 T3 Textiles. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>